.navbar {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  padding: 10px 20px;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-size: var(--font-size-h1);
  font-weight: bold;
  font-style: italic;
}

.logoLink {
  color: white;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  text-align: center;
  gap: 20px;
  margin-left: 10px;
  font-weight: var(--font-weight-1);
  transform: translateY(40%);
}

.navLinks li {
  color: white;
  font-size: var(--font-size-text);
}

.navLinks li a {
  color: white;
  text-decoration: none;
}

.navLinks li a:hover {
  text-decoration: underline;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between search bar and login */
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  height: 38px;
}

.searchIcon {
  color: var(--primary-color);
}

.searchInput {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  width: 200px; /* Adjust width as needed */
  font-family: var(--font-family);
  height: 38px;
}

.login {
  color: white;
  font-size: var(--font-size-text);
  cursor: pointer;
  font-weight: var(--font-weight-1);
}

.cartIcon {
  color: white;
  font-size: var(--font-size-text);
  cursor: pointer;
}

.profileImage {
  width: 40px; 
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
}