.container {
  padding: 20px 50px 20px 40px;
}

.content {
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
}

.shopContainer {
  flex-grow: 1;
  padding-left: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
  gap: 50px;
  width: 100%;
  margin: 0 auto;
}

.productCard {
  border-radius: 15px; 
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  
  &:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
}

.productImageContainer {
  width: 100%;
  height: 0;
  padding-top: 90%; 
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.image {
  position: absolute;
  top: -5%; /* Crop the top 5% */
  left: 0;
  width: 100%;
  height: 110%; /* Crop 5% from top and bottom */
  object-fit: cover;
  border-radius: 15px; /* Ensures consistent rounded corners */
}

.productInfo {
  font-family: var(--font-family);
  margin: 10px 15px 10px 15px; 
  text-align: left;
}

.category {
  color: rgba(0, 0, 0, 0.6); 
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px; 
}

.productName {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  width: 100%; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.priceCartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Add space above the price and cart container */
}

.price {
  color: black;
  font-size: 16px; /* Slightly increased font size for better visibility */
  font-weight: 600;
  margin-right: 10px;
}

.addButton {
  background-color: transparent; /* Removed background color */
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.cartIcon {
  font-size: 24px; /* Adjusted icon size to match the text size */
  margin-left: 5px; /* Added slight spacing between the icon and the price */
}
