@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: #FE5A2A;
  --secondary-color: #363D66;
  --font-size-h1: 29px;
  --font-size-h2: 19px;
  --font-size-text: 16px;
  --font-size-p: 15px;
  --font-weight-1: 500;
  --font-family: 'Montserrat', sans-serif;
  --font-family-text: 'Lato', sans-serif;
}